<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container-fluid">
    <i class="fab fa-accusoft fa-7x "></i>
    <h1 class="display-3">Love Selling and Buying!</h1>

   <div class="button">
     <a class="btn btn-light btn-lg" href="/user/Register" role="button">User Register</a>
      <a class="btn btn-secondary btn-lg" href="/vendor/Register" role="button">Vendor Register</a>
   </div>
   <div class="button">
     <a class="btn btn-warning btn-lg" href="/vendor/login" role="button">Vendor Login</a>
   </div>


    <div class="button" >
        <a class="btn btn-dark btn-lg" href="/user/login" role="button">User Login</a>
    </div>


  </div>
</div>


<%- include('partials/footer') %>
